{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="caucus-name">Caucus Name</label>
                <input type="text" class="form-control" id="caucus-name" {% if caucus %}value="{{ caucus.name }}"{% else %} placeholder="Enter Caucus Name"{% endif %}>
            </div>
            <input type="button" class="btn btn-primary" onclick="submitCaucus()" value="Create New Caucus">
        </div>
    </div>
</div>

{% include "includes/spinner.html" %}
<script type="text/javascript">
    var submitCaucus = function () {
        showSpinner();
        $.ajax({
            type: {% if caucus %}"PUT"{% else %}"POST"{% endif %},
            url: "/account/caucus_{% if caucus %}edit/{{ caucus.key.id() }}{% else %}create/{% endif %}",
            data: "name=" + $("#caucus-name").val(),
            dataType: "JSON",
            success: function (response) {
                hideSpinner();
                if (response.success) {
                    window.location.href = response.goto_url;
                } else {
                    $("#error-message").html(response.error_message);
                    $("#error-alert").removeClass("hidden");
                }
            }
        });
    };
</script>
{% endblock %}